@charset "UFT-8";
*{
    box-sizing: border-box;
    margin: 0;
    color: yellow;
    font-size: 20px;
    box-sizing: border-box;
    background: black;
    
}
.fastwork{
    text-align: left;
    float: left;
    background: black;
}
.sobre{
    text-align: right;
    float: right;
    
}
.sec{
    color: white;
    text-align: center;
    padding: 20px;
}


footer {
    position: fixed;
    bottom: 0;
}
.img {
    width: 10%;
    height: 90%;
    object-fit: cover;
}
.imgdireita {
    width: 10%;
    height: 90%;
    object-fit: cover;
    justify-items: end;
}
