@charset "UFT-8";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: yellow;
}
body{
    background: black;
}

footer {
    position: fixed;
    bottom: 0;
}
.img {
    width: 10%;
    height: 90%;
    object-fit: cover;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}